//Created by Mordekaiser on 16/02/16.
div(ng-controller="ContactoCtrl")
    form(name="contactForm")
        ul
            li
                input(type="text", name="name", class="form-group", ng-model="name", required)
                span(class="error", ng-show="contactForm.name.$error.required") *
            li
                input(class="form-group", type="email", name="email", ng-model="email", required)
                span(class="error", ng-show="contactForm.email.$error.required") *
                span(class="error", ng-show="contactForm.email.$error.email") Formato incorrecto
            li
                textarea(class="form-group", name="message", ng-model="message", required)
                span(class="error", ng-show="contactForm.message.$error.required") *
            li
                div(vc-recaptcha key="'6LcnUxkTAAAAAE85ul_h1_UrnL_HaD091hBUGl75'", class="g-recaptcha")
                button.btn.btn-primary(ng-click="sendMessage()", ng-disabled="contactForm.$invalid") Enviar