section(class="referidos", id="referidos")
	.inner
		h1 PROGRAMA DE REFERIDOS
		p.
			En Litus sabemos reconocer a los usuarios y abogados que recomienden el uso de la plataforma.
		.row
			.column.onehalf
				p.
					Por cada 3 usuarios que nos recomiendes y agenden su primera cita, GRATIS TU SIGUIENTE CITA.
			.column.onehalf
				p.
					Por cada 2 abogados que nos recomiendes y agenden su primera cita, GRATIS TU SIGUIENTE CITA.