html,
body,
section,
article,
figure,
input,
select,
textarea,
button,
fieldset,
ul,
ol,
li {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}
p,
ul,
ol {
  margin: 20px 0;
}
body {
  font-size: 100%;
  line-height: 1.6em;
}
h1 {
  font-size: 30px;
  font-weight: 900;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h2,
h3 {
  font-weight: 700;
}
h1,
h2,
h3 {
  line-height: 120%;
  margin: 20px 0;
}
.inner {
  margin: auto;
  position: relative;
  width: 1000px;
}
header {
  background-color: #f1f1f0;
  overflow: hidden;
  padding: 20px 0;
  position: relative;
}
header .inner .litus {
  display: block;
  float: left;
  height: 50px;
}
header .inner .litus img {
  display: block;
  height: 100%;
}
header .inner nav {
  float: right;
  padding-top: 14px;
}
header .inner nav a {
  color: #666;
  display: block;
  float: left;
  line-height: 30px;
  margin-left: 20px;
  position: relative;
  text-decoration: none;
}
header .inner nav a:before,
header .inner nav a:after {
  background-color: #003366;
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 0;
}
header .inner nav a:before {
  left: 0;
  top: 100%;
}
header .inner nav a:after {
  right: 0;
  bottom: 100%;
}
header .inner nav a:hover {
  color: #003366;
}
header .inner nav a:hover:before,
header .inner nav a:hover:after {
  width: 100%;
}
section h1 {
  text-align: center;
}
section .inner {
  padding: 50px 0;
}
.home {
  text-align: center;
}
.home .banner {
  background-image: url('../assets/img/home.jpg');
  background-position: right;
  background-size: cover;
  height: 420px;
  width: 100%;
}
.home .banner .inner {
  height: 100%;
  padding: 0;
  position: relative;
}
.home .banner .inner div {
  left: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.home .banner .inner div img {
  display: block;
  margin-left: -71px;
  width: auto;
}
.home .inner {
  padding: 50px 0 30px;
}
.home .inner img {
  width: 60px;
}
.home .inner h2 {
  padding: 0 10%;
  text-transform: uppercase;
}
.derecho {
  background-color: rgba(153, 204, 255, 0.15);
}
.derecho h1 {
  color: #003366;
}
.derecho h2 {
  color: #336699;
}
.derecho .inner .cycle-slideshow {
  position: relative;
  width: 100%;
}
.derecho .inner .cycle-slideshow div {
  overflow: hidden;
  margin: auto;
  width: 50%;
}
.derecho .inner .cycle-slideshow div h2 {
  padding-left: 100px;
}
.derecho .inner .cycle-slideshow div img {
  display: block;
  float: left;
  width: 80px;
}
.derecho .inner .cycle-slideshow div p,
.derecho .inner .cycle-slideshow div ul {
  list-style: none;
  margin-left: 100px;
}
.ayuda {
  background-color: rgba(92, 202, 171, 0.15);
}
.ayuda .inner h1 {
  color: #003939;
}
.ayuda .inner h2 {
  color: #008585;
}
.ayuda .inner .grid div img {
  float: left;
  width: 60px;
}
.ayuda .inner .grid div h2 {
  padding-left: 80px;
}
.ayuda .inner .grid div p {
  margin-left: 80px;
}
.bottom {
  background-color: #003846;
  color: #FFF;
}
.bottom .inner h1 {
  text-align: left;
  margin: 0;
}
.bottom .inner .grid div img {
  display: block;
  width: 220px;
}
.bottom .inner .grid div ul.contacto li {
  list-style: none;
  margin-bottom: 12px;
}
.bottom .inner .grid div ul.contacto li i {
  display: inline-block;
  font-size: 24px;
  margin-right: 10px;
  vertical-align: middle;
}
.bottom .inner .grid div ul.contacto li span {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.bottom .inner .grid div form ul li {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 0 10px;
  width: 100%;
}
.bottom .inner .grid div form ul li input,
.bottom .inner .grid div form ul li textarea {
  background-color: #FAFAFA;
  border-radius: .4em;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  font-size: 100%;
  padding: 0 15px;
  height: 40px;
  width: 100%;
}
.bottom .inner .grid div form ul li textarea {
  padding: 15px;
  height: 120px;
}
.grid {
  margin: 0 -20px;
  overflow: hidden;
}
.grid div {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  min-height: 220px;
  padding: 0 20px;
  position: relative;
  text-align: justify;
  width: 50%;
}
.grid div.untercio {
  width: 33.33%;
}
.grid div.dostercios {
  width: 66.66%;
}
