.navbar .container-fluid .navbar-header a img {
  height: 100%;
}
.user-list .user-box {
  border: 1px solid #46b8da;
  border-radius: 4px;
  margin: 10px auto;
}
.user-list .user-box p {
  text-align: center;
  margin: 5px auto;
}
.user-list .user-box button {
  font-size: 0.75em;
  margin: auto 5px;
}
.login h4 {
  color: #33669e;
  text-align: center;
}
.login input[type="text"],
.login button,
.login input[type="password"] {
  margin: 10px 5px;
  width: 100%;
}
.edit-form label {
  color: #369;
  font-size: 1.5em;
  margin: auto 5px;
}
.edit-form input[type="text"] {
  font-size: 1.2em;
  margin: auto 5px;
}
.edit-form .return {
  color: #369;
  margin-left: 10px;
  font-size: 1.3em;
}
.chat {
  height: 100vh;
}
.chat .user-list,
.chat .chat-content {
  height: 100vh;
}
.chat .chat-content #message-container {
  display: none;
  height: 100%;
}
.chat .chat-content #message-container textarea {
  float: left;
  height: 60px;
  width: 50%;
}
.chat .chat-content #message-container button {
  float: left;
}
.chat .chat-content #message-container #conversation {
  border: 1px solid #008000;
  height: 300px;
  overflow: scroll;
}
.chat .chat-content #message-container form[name="messageForm"] {
  bottom: 50px;
  position: fixed;
  width: 100%;
}
.chat .rate-box {
  display: none;
}
.chat .rate-box label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 13px;
}
.chat .rate-box input[type="checkbox"] {
  display: none;
}
.chat .rate-box label:before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 16px;
  margin-right: 10px;
  position: absolute;
  left: 0px;
  bottom: 1px;
  background-image: url("../assets/icons/white_star_small.png");
  background-color: transparent;
  border-radius: 8px;
}
.chat .rate-box input[type="checkbox"]:checked + label:before {
  content: "";
  background-color: #ff0;
  font-size: 30px;
  text-align: center;
  line-height: 18px;
}
