.navbar
  .container-fluid
    .navbar-header
      a
        img
          height 100%
.user-list
  .user-box
    border 1px solid #46b8da
    border-radius 4px
    margin 10px auto
    p
      text-align center
      margin 5px auto
    button
      font-size .75em
      margin auto 5px
.login
  h4
    color #33669E
    text-align center
  input[type="text"],
  button,
  input[type="password"]
    margin 10px 5px
    width 100%

.edit-form
  label
    color #336699
    font-size 1.5em
    margin auto 5px
  input[type="text"]
    font-size 1.2em
    margin auto 5px
  .return
    color #336699
    margin-left 10px
    font-size 1.3em

.chat
  height: 100vh
  .user-list, .chat-content
    height 100vh
  .chat-content
    #message-container
      display none
      height 100%
      textarea
        float left
        height 60px
        width 50%
      button
        float left
      #conversation
        border 1px solid green
        height 300px
        overflow scroll
      form[name="messageForm"]
        bottom 50px
        position fixed
        width 100%
  .rate-box
    display none
    label
      display inline-block
      cursor pointer
      position relative
      padding-left 25px
      margin-right 15px
      font-size 13px
    input[type="checkbox"]
      display none
    label:before
      content ""
      display inline-block
      width 17px
      height: 16px
      margin-right 10px
      position absolute
      left 0px
      bottom 1px
      background-image url("../assets/icons/white_star_small.png")
      background-color transparent
      border-radius: 8px
    input[type="checkbox"]:checked + label:before
      content ""
      background-color yellow
      font-size 30px
      text-align center
      line-height 18px
#imageList
  img
    width 75px