.user-list
  .user-box
    border 1px solid #46b8da
    border-radius 4px
    margin 10px auto
    p
      text-align center
      margin 5px auto
    button
      font-size .75em
      margin auto 5px

.chat
  height: 100vh
  .user-list, .chat-content
    height 100vh
  .chat-content
    #message-container
      display none
      height 100%
      textarea
        float left
        height 60px
        width 50%
      button
        float left
      #conversation
        border 1px solid green
        height 300px
        overflow scroll
      form[name="messageForm"]
        bottom 50px
        position fixed
        width 100%