.user-list
  .user-box
    border 1px solid #46b8da
    border-radius 4px
    margin 10px auto
    p
      text-align center
      margin 5px auto
    button
      font-size .75em
      margin auto 5px
#message-container
  display none
  textarea
    height 60px
    width 100%
  button
    float right
.chat
  #conversation
    height 300px
    overflow scroll