//
   Created by Mordekaiser on 24/05/16.

.container-fluid.chat
    .row
        .col-md-3.user-list
            .user-box(ng-repeat="user in users")
                p Nombre: {{user.completeName}}
                p Email: {{user.email}}
                p Teléfono: {{user.phone}}
                p Dirección: {{user.address}}
                p Idiomas: {{user.languages}}
                p Años de experiencia: {{user.experienceYears}}
                p Horario de atención: {{user.schedule}}
                img(ng-src="{{user.profilePicture}}")
                p Área de especialidad: {{user.specialityArea}}
                p Acerca de mí: {{user.description}}
                p Referencias: {{user.references}}
                p Casos que atiendo por mes: {{user.casePerMonth}}
                p Calificación: {{users.rate}}
                a.btn.btn-primary(href="/chat/{{user.chat_id}}") Abrir chat