//
   Created by Mordekaiser on 03/03/16.

.container-fluid.chat
    .row
        .col-md-3.user-list
            .user-box
                form(class="rate-box", name="rateForm")
                    p Califica a {{user.name}} {{user.lastName}}
                    input(type="checkbox", id="1", name="one", value="1", rate-star)
                    label(for="1")
                    input(type="checkbox", id="2", name="two", value="2", rate-star)
                    label(for="2")
                    input(type="checkbox", id="3", name="three", value="3", rate-star)
                    label(for="3")
                    input(type="checkbox", id="4", name="four", value="4", rate-star)
                    label(for="4")
                    input(type="checkbox", id="5", name="five", value="5", rate-star)
                    label(for="5")
                    p Comentario
                    textarea(name="comment", ng-model="rate.comment", id="comment")
                    button(class="btn btn-success", type="button", ng-click="sendRate(user.email)") Enviar
        .col-md-9.chat-content
            .row#message-container
                .col-md-12
                    ul(id="conversation")
                    form(name="messageForm")
                        textarea(name="msg", id="msg", ng-model="chat.msg", ng-required)
                        span(class="text-warning", ng-show="messageForm.chat.msg.$error.required") * requerido
                        button(class="btn btn-primary", ng-click="sendMessage()", ng-disabled="messageForm.$invalid") Enviar mensaje