//
   Created by Mordekaiser on 22/02/16.

.well
    a(href="/perfil", target="_self") Regresar
    form(name="userForm")
        .form-group
            label Nombre
            input(type="text", name="name", class="form-group", ng-model="name", required)
            span(class="error", ng-show="userForm.name.$error.required") *
        .form-group
            label Apellidos
            input(type="text", name="lastName", class="form-group", ng-model="lastName", required)
            span(class="error", ng-show="userForm.lastName.$error.required") *
        .form-group
            label Teléfono
            input(type="number", name="phone", class="form-group", ng-model="phone", ng-required)
            span(class="error", ng-show="userForm.phone.$error.required") *
        .form-group
            label Área de especialidad
            select(name="specialityArea", ng-model="specialityArea")
                option(value="penal") Penal
                option(value="civil") Civil
                option(value="administrativa") Administrativa
                option(value="laboral") Laboral
                option(value="fiscal") Fiscal
                option(value="familiar") Familiar
            span(class="error", ng-show="userForm.specialityArea.$error.required") *
        .form-group
            label Dirección
            textarea(class="form-group", name="address", ng-model="address", required)
            span(class="error", ng-show="userForm.address.$error.required") *
        .form-group
            label Idiomas
            textarea(class="form-group", name="languages", ng-model="languages", ng-list="&#10;", placeholder="Español, Ingles, Frances", ng-required)
            span(class="error", ng-show="userForm.languages.$error.required") *
        .form-group
            label Años de experiencia
            textarea(class="form-group", name="experienceYears", ng-model="experienceYears", required)
            span(class="error", ng-show="userForm.experienceYears.$error.required") *
        .form-group
            label Horario
            textarea(class="form-group", name="schedule", ng-model="schedule", required)
            span(class="error", ng-show="userForm.schedule.$error.required") *
        .form-group
            label Descripción
            textarea(class="form-group", name="description", ng-model="description", required)
            span(class="error", ng-show="userForm.description.$error.required") *
        .form-group
            label Palabras clave
            textarea(class="form-group", name="keyWords", ng-model="keyWords", ng-list="&#10;", ng-required)
            span(class="error", ng-show="userForm.keyWords.$error.required") *
        .form-group
            label Ocupado
            span.isBusy Seleccionalo cuando tengas demasiado trabajo y no quieras recibir notificaciones de citas
            input(type="checkbox", class="form-group", name="isBusy", ng-model="isBusy")
        button.btn.btn-primary(ng-click="editUser()", ng-disabled="userForm.$invalid") Guardar información