//
   Created by Mordekaiser on 16/02/16.

.well
    form(name="registerForm")
        .form-group
            label Nombre
            input(type="text", name="name", class="form-group", ng-model="name", required)
            span(class="error", ng-show="registerForm.name.$error.required") *
        .form-group
            label Apellidos
            input(type="text", name="lastName", class="form-group", ng-model="lastName", required)
            span(class="error", ng-show="registerForm.lastName.$error.required") *
        .form-group
            label Email
            input(class="form-group", type="email", name="email", ng-model="email", required)
            span(class="error", ng-show="registerForm.email.$error.required") *
            span(class="error", ng-show="registerForm.email.$error.email") Formato incorrecto
        .form-group
            label Contraseña
            input(class="form-group", type="password", name="password", ng-model="password", required)
            span(class="error", ng-show="registerForm.password.$error.required") *
        .form-group
            label Confirmar contraseña
            input(class="form-group", type="password", name="validatePassword", ng-model="validatePassword", required)
            span(class="error", ng-show="registerForm.validatePassword.$error.required") *
        .form-group
            label Teléfono
            input(type="number", name="phone", class="form-group", ng-model="phone", required)
            span(class="error", ng-show="registerForm.phone.$error.required") *
        .form-group
            label Tipo de persona
            select(name="economicActivities", ng-model="economicActivities", required, economic-activities)
                option(value="fisica") Física
                option(value="moral") Moral
        .form-group(id="constitutiveAct")
            label Acta constitutiva
            input(type="file", name="constitutiveAct", class="form-group", ng-model="constitutiveAct", required)
            span(class="error", ng-show="registerForm.constitutiveAct.$error.required") *
        .form-group
            label Cédula profesional
            input(type="file", name="professionalLicense", class="form-group", ng-model="professionalLicense", required)
            span(class="error", ng-show="registerForm.professionalLicense.$error.required") *
        .form-group
            label Área de especialidad
            select(name="specialityArea", ng-model="specialityArea", required)
                option(value="penal") Penal
                option(value="civil") Civil
                option(value="administracion") Administración
            span(class="error", ng-show="registerForm.specialityArea.$error.required") *
        .form-group
            label Descripción
            textarea(class="form-group", name="description", ng-model="description", required)
            span(class="error", ng-show="registerForm.description.$error.required") *
        button.btn.btn-primary(ng-click="register()", ng-disabled="registerForm.$invalid") Enviar