section(class="registration")
    .inner
        h1 REGISTRO DE USUARIO
        form.row(name="registerForm")
            .column.onethird.single
                ul
                    li
                        //label Nombre
                        input(placeholder="Nombre" type="text", name="name", class="form-group", ng-model="name", required)
                        span(class="error", ng-show="registerForm.name.$error.required") *
                    li
                        //label Apellidos
                        input(placeholder="Apellidos" type="text", name="lastName", class="form-group", ng-model="lastName", required)
                        span(class="error", ng-show="registerForm.lastName.$error.required") *
                    li
                        //label Email
                        input(placeholder="Email" class="form-group", type="email", name="email", ng-model="email", required)
                        span(class="error", ng-show="registerForm.email.$error.required") *
                        span(class="error", ng-show="registerForm.email.$error.email") Formato incorrecto
                    li
                        //label Contraseña
                        input(placeholder="Contraseña" class="form-group", type="password", id="password", name="password", ng-model="password", ng-required)
                        span(class="error", ng-show="registerForm.password.$error.required") *
                    li
                        //label Confirmar contraseña
                        input(placeholder="Confirmar contraseña" class="form-group", type="password", name="validatePassword", ng-model="validatePassword", pw-check="password", ng-required)
                        span(class="error", ng-show="registerForm.validatePassword.$error.required") *
                        span(class="msg-error", ng-show="registerForm.validatePassword.$error.pwmatch") Las contraseñas no coinciden
                    li
                        //label Teléfono
                        input(placeholder="Teléfono" type="text", name="phone", class="form-group", ng-model="phone", ng-required)
                        span(class="error", ng-show="registerForm.phone.$error.required") *
                    
                    button.btn.btn-primary(ng-click="register()", ng-disabled="registerForm.$invalid") Enviar