//
   Created by Mordekaiser on 11/02/16.

.well
    form(name="sectionForm")
        .form-group
            label Título
            input(type="text", name="title", class="form-group", ng-model="title", disabled)
        .form-group
            label Contenido
            textarea(class="form-group", name="content", ng-model="content", rows="5")
        button.btn.btn-primary(ng-click="editSection()", ng-disabled="sectionForm.$invalid") Modificar
        a(href="/admin") Regresar