//
   Created by Mordekaiser on 11/02/16.

.well
    .form
        .form-group
            label Título
            input(type="text", class="form-group" disabled)
        .form-group
            label Contenido
            input(type="text", class="form-group")
        button(class="btn btn-default", type="submit") Modificar