//
   Created by Mordekaiser on 11/02/16.
.container-fluid
    .row(ng-repeat="section in sections")
        .col-md-4
            p {{section.title}} |
                a(href="/admin/edit/{{section.slug}}") Modificar |
                a(href="/admin/details/{{section.slug}}") Detalles