//
   Created by Mordekaiser on 11/02/16.
.container-fluid
    .row
        .col-md-12
            h4 Administrador
            p En el administrador de Litus, podrás modificar las diferentes secciones del sitio web.
            p Así como acciones que gestionan el funcionamiento del sitio web.