section(class="ayuda", id="ayuda", ng-controller="ayudaCtrl" ng-hide="hideContent")
    h1 AYUDA
    .inner
        .columnas
            .columna.unmedio
                h2 ¿DE QUÉ DE TRATA LITUS?
                i.icon-que
                p.
                    Se trata de que, como Usuario puedas elegir al Abogado que consideres pueda asesorarte mejor en tu asunto, tomando en cuenta su experiencia y calificación de otros usuarios.
                p.
                    Al mismo tiempo si eres Abogado, podrás calificar al Usuario o bien consultar si éste ha tenido calificaciones por parte de otros Abogados y decidir si lo asesoras o no.
            .columna.unmedio
                h2 ¿TIENE ALGÚN COSTO?
                i.icon-costo
                p.
                    El registro como Usuario o Abogado no tiene ningún costo, solo si se agenda una cita esta tendrá un costo de $100.00 (Cien Pesos 00/100 M.N) tanto para el Usuario como para el Abogado.
                p.
                    Una vez que se lleve a cabo la cita y si el Usuario decide encomendar el asunto al Abogado, LITUS recibirá una comisión del 15% de los honorarios acordados.
            .columna.unmedio
                h2 ¿CÓMO FUNCIONA LITUS?
                i.icon-funciona
                p.
                    Una vez que como Usuario eliges a un Abogado, la plataforma da aviso al Abogado para que éste acepte y se genere una cita y se pueda plantear el asunto.