section(class="login")
  .inner
    form.columnas
      h1 INICIAR SESIÓN
      .columna.untercio
        ul
          li
            input.form-control(placeholder="Email", ng-model="email", type="text")
          li
            input.form-control(type="password", placeholder="Contraseña", ng-model="password")
          li
            button.btn.btn-primary(ng-click="signin(email, password)") Iniciar sesión
          li
            a(href="/password-recover", target="_self") ¿Olvidaste la contraseña?