//
   Created by Mordekaiser on 09/05/16.

section(class="login")
    .container
        .row
            .col-md-4
            .col-md-4
                h4 Recuperar la contraseña
                p Te enviaremos una nueva contraseña a tu correo electrónico.
                p Te suguerimos que la cambies una vez que inicies sesión.
                form.navbar-form
                    input.form-control(placeholder="Email", ng-model="email", type="text")
                    button.btn.btn-primary(ng-click="recover(email)") Enviar nueva contraseña
                p {{status}}
            .col-md-4