doctype
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        title Litus
        link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
        link(rel="stylesheet", href="/css/litus.css")
        link(rel="stylesheet", href="/css/mdi.min.css")
        //script(src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer)
    body(ng-app='app')
        .navbar.navbar-default(ng-controller="loginCtrl", ng-show="identity.isAuthenticated()")
            .container-fluid
                .navbar-header
                    button(type="button", class="navbar-toggle collapse", data-toogle="collapse", data-target="#collapse-1", aria-expanded="false")
                        span(class="sr-only") Toggle navigation
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                    a(class="navbar-brand", href="#")
                        img(src="assets/img/litus-top.png")
                .collapse.navbar-collapse(id="collapse-1")
                    ul(class="nav navbar-nav")
                        li(ng-show="identity.isAuthorized('admin')")
                            a(href="/admin/sections") Secciones
                        li(ng-show="identity.isAuthorized('abogado')")
                            a(href="/perfil/edit") Modificar cuenta
                        li
                            a(href="/chat", ng-hide="identity.isAuthorized('admin')") Chat
                        li
                            a(href="/logout", ng-click="signout()") Cerrar sesión
        header(ng-controller="loginCtrl", ng-hide="identity.isAuthenticated()")
            .inner
                a(href="/", class="litus")
                    img(src="assets/img/litus-top.png")
                nav
                    a(href="/garantia")
                        span GARANTÍA
                    a(href="#abogados")
                        span ABOGADOS
                    a(href="#referidos")
                        span REFERIDOS
                    a(href="#ayuda")
                        span AYUDA
                    a(href="/unete-a-litus")
                        span ÚNETE A LITUS
                    a(href="/login")
                        span INICIAR SESIÓN
        include currentUser
        block main-content
        section(class="bottom", ng-controller="ContactoCtrl", ng-hide="identity.isAuthenticated()")
            .inner
                .row
                    .column.onehalf
                        img(src="assets/img/litus-bottom.png")
                        p.
                            Ut sed posuere erat, quis sollicitudin erat. Nulla iaculis magna ut nunc posuere, sed sollicitudin enim tincidunt. In ac sollicitudin tellus. Cras aliquet purus diam, et maximus nulla porttitor eu.
                        ul(class="contacto")
                            li
                                <i class="mdi mdi-phone"></i> 5555 6677
                            li
                                <i class="mdi mdi-email"></i>
                                span xm.sutil@ofni
                        a(href="/terminos-y-condiciones")
                            span TÉRMINOS Y CONDICIONES
                    .column.onehalf
                        form(name="contactForm")
                            ul
                                li
                                    input(type="text", name="name", class="form-group", placeholder="Nombre", ng-model="name", required)
                                    span(class="error", ng-show="contactForm.name.$error.required") *
                                li
                                    input(class="form-group", type="email", name="email", placeholder="Email", ng-model="email", required)
                                    span(class="error", ng-show="contactForm.email.$error.required") *
                                    span(class="error", ng-show="contactForm.email.$error.email") Formato incorrecto
                                li
                                    textarea(class="form-group", name="message", ng-model="message", required)
                                    span(class="error", ng-show="contactForm.message.$error.required") *
                                li
                                    div(vc-recaptcha key="'6LcnUxkTAAAAAE85ul_h1_UrnL_HaD091hBUGl75'", class="g-recaptcha")
                                    button.btn.btn-primary(ng-click="sendMessage()", ng-disabled="contactForm.$invalid") Enviar
        include scripts