//
   Created by Mordekaiser on 05/02/16.

doctype
html
    head
        title Litus
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
    body(ng-app='app')
        ul.nav.nav-tabs
            li(role="presentation")
                a(href="/") Home
            li(role="presentation")
                a(href="/nosotros") Nosotros
            li(role="presentation")
                a(href="/garantia") Garantía
            li(role="presentation")
                a(href="/abogados") Abogados
            li(role="presentation")
                a(href="/referidos") Referidos
            li(role="presentation")
                a(href="/ayuda") Ayuda
            li(role="presentation")
                a(href="/unete-a-litus") Únete a Litus
            li(role="presentation")
                a(href="/terminos-y-condiciones") Términos y condiciones
            li(role="presentation")
                a(href="/contacto") Contacto
            li(role="presentation")
                a(href="/registro?type=abogado") Registro de abogados
            li(role="presentation")
                a(href="/registro?type=usuario") Registro de usuarios
            li(role="presentation")
                a(href="/login") Iniciar sesión
        include currentUser
        block main-content
        include scripts