//
   Created by Mordekaiser on 05/02/16.

doctype
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        title Litus
        link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
        link(rel="stylesheet", type="text/css", href="/css/litus.css")
        script(src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer)
    body(ng-app='app')
        .navbar.navbar-default(ng-controller="loginCtrl", ng-show="identity.isAuthenticated()")
            .container-fluid
                .navbar-header
                    button(type="button", class="navbar-toggle collapse", data-toogle="collapse", data-target="#collapse-1", aria-expanded="false")
                        span(class="sr-only") Toggle navigation
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                    a(class="navbar-brand", href="#")
                        img(src="assets/img/litus-top.png")
                .collapse.navbar-collapse(id="collapse-1")
                    ul(class="nav navbar-nav")
                        li(ng-show="identity.isAuthorized('admin')")
                            a(href="/admin/sections") Secciones
                        li(ng-show="identity.isAuthorized('abogado')")
                            a(href="/perfil/edit") Modificar cuenta
                        li
                            a(href="/chat", ng-hide="identity.isAuthorized('admin')") Chat
                        li
                            a(href="/logout", ng-click="signout()") Cerrar sesión
        header(ng-controller="loginCtrl", ng-hide="identity.isAuthenticated()")
            .inner
                a(href="/", class="litus")
                    img(src="assets/img/litus-top.png")
                nav
                    a(href="#nosotros")
                        span NOSOTROS
                    a(href="#abogados")
                        span ABOGADOS
                    a(href="#referidos")
                        span REFERIDOS
                    a(href="/unete-a-litus")
                        span ÚNETE A LITUS
                    a(href="#ayuda")
                        span AYUDA
                    a(href="/garantia")
                        span GARANTÍA
                    a(href="/registro-abogados")
                        span REGISTRO DE ABOGADOS
                    a(href="/registro-usuarios")
                        span REGISTRO DE USUARIOS
                    a(href="/login")
                        span INICIAR SESIÓN
                    a(href="/terminos-y-condiciones")
                        span TÉRMINOS Y CONDICIONES
        include currentUser
        block main-content
        include scripts