//
   Created by Mordekaiser on 05/02/16.

doctype
html
    head
        title CMS NISSAN API
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
    body(ng-app='app')
        include currentUser
        block main-content
        include scripts