//
   Created by Mordekaiser on 05/02/16.

doctype
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        title Litus
        link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
        link(rel="stylesheet", type="text/css", href="/css/litus.css")
        script(src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer)
    body(ng-app='app')
        .navbar.navbar-default(ng-controller="loginCtrl", ng-show="identity.isAuthenticated()")
            .container-fluid
                .navbar-header
                    button(type="button", class="navbar-toggle collapse", data-toogle="collapse", data-target="#collapse-1", aria-expanded="false")
                        span(class="sr-only") Toggle navigation
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                    a(class="navbar-brand", href="#")
                        img(src="assets/img/litus-top.png")
                .collapse.navbar-collapse(id="collapse-1")
                    ul(class="nav navbar-nav")
                        li(ng-show="identity.isAuthorized('admin')")
                            a(href="/admin/sections") Secciones
                        li(ng-show="identity.isAuthorized('abogado')")
                            a(href="/perfil/edit") Modificar cuenta
                        li
                            a(href="/chat", ng-hide="identity.isAuthorized('admin')") Chat
                        li
                            a(href="/logout", ng-click="signout()") Cerrar sesión
        header(ng-controller="loginCtrl", ng-hide="identity.isAuthenticated()")
            .inner
                a(href="/", class="litus")
                    img(src="assets/img/litus-top.png")
                nav
                    a(href="/")
                        span HOME
                    a(href="#")
                        span ABOGADOS
                    a(href="#")
                        span REFERIDOS
                    a(href="#")
                        span ÚNETE A LITUS
                    a(href="#")
                        span AYUDA
        include currentUser
        block main-content
        //ul.nav.nav-tabs(ng-controller="loginCtrl", ng-hide="identity.isAuthenticated()")
        //    li(role="presentation")
        //        a(href="/") Home
        //    li(role="presentation")
        //        a(href="/nosotros") Nosotros
        //    li(role="presentation")
        //        a(href="/garantia") Garantía
        //    li(role="presentation")
        //        a(href="/abogados") Abogados
        //    li(role="presentation")
        //        a(href="/referidos") Referidos
        //    li(role="presentation")
        //        a(href="/ayuda") Ayuda
        //    li(role="presentation")
        //        a(href="/unete-a-litus") Únete a Litus
        //    li(role="presentation")
        //        a(href="/terminos-y-condiciones") Términos y condiciones
        //    li(role="presentation")
        //        a(href="/contacto") Contacto
        //    li(role="presentation")
        //        a(href="/registro-abogados") Registro de abogados
        //    li(role="presentation")
        //        a(href="/registro-usuarios") Registro de usuarios
        //    li(role="presentation")
        //        a(href="/login") Iniciar sesión
        //    li(role="presentation")
        //        a(href="/admin") Admin
        include scripts